@font-face {
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: 700;
}

:root {
    font-size: 18px;
    --white30: white;
    --white20: #A5A3A5;
    --white10: #212429;
}

/* html {
    font-size: 16px;
} */

body {
    /* font-size: 10px; */
    color: var(--white30);
    /* font-family: charter; */
    font-family: 'Nunito', sans-serif;
    background: #251F24;
    /* margin: 100px; */
    margin: 0;
    /* writing-mode: vertical-lr; */
    /* margin: 10px 10px 10px 10px; */
    /* margin-inline: 100px; */
    /* margin-block: 100px; */
    /* margin-block-start: 50px; */
    /* margin-block-end: 50px; */
    /* margin: 0 10px; */
    /* margin-block: ; */
}

a {
    color: var(--white30);
}

.header {
    /* position: sticky;
    inset-block-start: -45px; */
    /* background: red;
    position: fixed; */
    /* height: 500px;
    width: 500px; */
    /* inset: 50px; */
    /* inset-inline: 50px; */
    /* inset-block: 10px; */
    /* block-size: 500px; */
    /* inline-size: 500px; */
}

.header-content {
    /* position: relative;
    inset-block-start: 65px; */
    padding-inline: 20px;
} 

header {
    margin-block-start: 20px;
    /* --white10: red; */
    font-size: 14px;
    color: var(--white);
    /* position: absolute; */
    /* top */
    /* inset-block-start: 0; */
    /* bottom */
    /* inset-block-end: ; */
    /* left */
    /* inset-inline-start: -208px; */
    /* right */
    /* inset-inline-end: ; */
    /* inline-size: 188px; */
}

header li {
    color: var(--white20);
    margin-block-end: 16px;
}

header a {
    color: var(--white20);
    text-decoration: none;
}

header a:hover {
    color: var(--white30);
}

nav details summary {
    font-weight: bold;
}

/* ol li:nth-child(even) {
    border: 1px solid red;
} */

/* header { */
    /* font-size: 2em; */
    /* font-size: 3rem; */
/* } */

/* li { */
    /* font-size: 2em; */
    /* font-size: 3rem; */
/* } */

h1, h2, h3 {
    /* font-weight: normal; */
}

h1 {
    /* font-size: 60px; */
    /* font-size: 4em; */
    /* font-size: 3rem; */
    /* font-size: 60px; */
    font-size: 40px;
    /* font-size: 3.75em; */
    /* text-decoration: underline; */
    /* font-weight: normal; */
    /* margin-block-start: 64px; */
    margin-block-start: 20px;
    margin-block-end: 16px;
    /* text-align: center;
    text-align: justify;
    text-align: right;
    text-align: start;
    font-size: 20px; */
}

/* p {
    text-align: justify !important;
} */

h2 {
    font-size: 2em;
    /* font-weight: normal; */
    margin-block: 40px;
}

h3 {
    /* font-size: 24px; */
    font-size: 1.5em;
    /* font-weight: normal; */
    font-weight: 600;
    margin-block: 16px;
}

hr {
    margin-block: 40px;
    border-color: rgba(97, 97, 97, 0.2);
}

pre {
    background: var(--white10);
    padding: 40px;
    /* border: 1px solid red; */
    overflow: auto;
    border-radius: 8px;
    border: 10px solid red;
    border-left: 5px solid blue;
    border-inline-start: 5px solid white;
    border-block: 20px solid yellow;
    border-block-start: 20px solid purple;
    border-block-end: 20px solid yellow;
    border-inline-end: 5px solid green;
    border-block-start-color: skyblue;
    border: 8px solid #5551FF;
    box-shadow: -10px 10px 0px #ABAAF6;
    margin-block-end: 40px;
    /* border-radius: 50px; */
    /* border-radius: 50%;
    inline-size: 400px;
    block-size: 400px; */
    /* border-start-start-radius: 60px; */
}

p {
    color: var(--white20);
}

.hero {
    /* background: red url('../images/pattern.png'); */
    /* background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3), red 10%, transparent), url('../images/pattern.png'); */
    /* background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent), url('../images/pattern.png'); */
    background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    /* background-repeat: no-repeat;
    background-position: left 50px bottom 50px; */
    /* background-size: cover; */
    /* height: 350px; */
    block-size: 50px;
    /* width: 100%; */
}

.section-content img {
    margin-block-start: 40px;
    display: block;
    /* max-width: 100%; */
    max-inline-size:  100%;
}

.section-content {
    counter-reset: titleList;
}

.section-content h3 {
    counter-increment: titleList;
}

.section-content h3::before {
    content: counter(titleList, decimal) ". ";
}

/* .section-content h3::after {
    content: '';
    width: 32px;
    height: 4px;
    background: var(--white30);
    display: inline-block;
} */

blockquote {
    margin-block-start: 80px;
    margin-block-end: 63px;
    background-color: var(--white10);
    border-radius: 8px;
    line-height: 32px;
    font-size: 24px;
    /* padding: 24px; */
    padding-inline-end: 24px;
    padding-inline-start: 24px;
    padding-block-start: 24px;
    padding-block-end: 24px;
}

blockquote p {
    color: var(--white30);
}

/* ::selection {
    background: green;
} */

/* @media screen and (max-width: 600px) {
    body {
        font-size: 5px;
    }    
} */

/* header {
    background: red;
    width: 80vw;
} */

.main hr {
    display: none;
}

.main {
    /* border: 1px solid red; */
    /* background: red; */
}

.wrapper {
    /* border: 1px solid yellow; */
    /* width: ; */
    /* inline-size: 902px; */
    max-inline-size: 902px;
    /* max-width: 902px; */
    /* block-size: 100px; */
    /* overflow: hidden; */
    /* overflow: auto; */
    margin: auto;
}

.main-content {
    /* border: 1px solid blue; */
    /* padding: 16px; */
    padding-inline: 16px;
    /* background: blue; */
}

.slider {
    /* border: 1px solid red; */
}

.slider-container {
    /* border: 1px solid purple; */
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}

/* .slider-slide h1 {
    border: 1px solid blue;
    margin: 0;
    display: inline-block;
    width: 100%;
}   */

.video {
    /* border: 1px solid blue; */
    margin: 0;
    display: inline-block;
    width: 100%; /* inline-size: 100%; */
    height: auto; /* block-size: auto%; */
    aspect-ratio: 16/9;
}

.slider-bullet-list {
    /* border: 1px solid yellow; */
    text-align: center;
    margin-block-start: 10px;
}

.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: white;
    border-radius: 50%;
}

.form input {
    inline-size: 100%;
    border: 1px solid var(--white30);
    background: #251F24;
    box-sizing: border-box;
    border-radius: 8px;
    padding-inline: 16px;
    padding-block: 12px;
    color: var(--white30);
    font-size: 16px;
    display: block;
    margin-block-end: 24px;
}

.form input[type="submit"] {
    background: #157EFB;
    border: none;
} 

.form input::-webkit-input-placeholder {
    color: var(--white20);
}

@media screen and (min-width: 1366px) {
    .hero {
        block-size: 350px;
    }

    .header {
        position: sticky;
        inset-block-start: -45px;
    }
    
    .header-content {
        position: relative;
        inset-block-start: 65px;
        padding-inline: 0;
    } 
    
    header {
        position: absolute;
        /* top */
        inset-block-start: 0;
        /* bottom */
        /* inset-block-end: ; */
        /* left */
        inset-inline-start: -208px;
        /* right */
        /* inset-inline-end: ; */
        inline-size: 188px;
    }

    h1 {
        font-size: 60px;
        margin-block-start: 64px;
    }
}